<h1>ניהול מתנדבים</h1>

<table id="userTable" class="table table-striped table-bordered" 
       *ngIf="users" style="width:90%">
    <thead>
        <tr>
            <th>שם</th>
            <th>שם משפחה</th>
            <th>ת.ז</th>
            <th>טלפון</th>
            <th>עריכה</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user in users">
            <td>{{user.Name}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.id}}</td>
            <td>{{user.phone}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>שם</th>
            <th>שם משפחה</th>
            <th>ת.ז</th>
            <th>טלפון</th>
            <th>עריכה</th>
        </tr>
    </tfoot>
</table>
